/* Necessary Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--color-teal: #247B7B;
    --color-the-good-coder-green: #5AFD08;
    --color-not-quite-black: #404041;

}
body,html{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    letter-spacing: -0.13px;
}

ul{
    list-style-type: none;
    display: flex;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;

}
#nav-link{
    margin-right: 1.1rem;
}
#nav-link:hover{
    cursor: pointer;
}
.logo{
    height: 1.5rem;
    width: auto;
}

.welcome-to-my-website{
    margin: 1rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: var(--color-teal);
    color: white;
    border-radius: 15px;
    border: 2px solid #246060;
    
}

.welcome-to-my-website h1{
    font-size: 1.7rem;
    margin-bottom: 0.6rem;
}

.welcome-to-my-website p{
    font-size: 0.9rem;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.welcome-to-my-website a{
    color: white;
}

.section{
    margin: 1rem;
    padding: 0.9rem;

}

.section h1{
    margin: -0.6rem;
}

.no-yet{
    color: gray;
    font-weight: bold;
}

footer{
    word-spacing: 0.1rem;
    color: var(--color-not-quite-black);
    position: absolute;
    top: calc(100% - 3rem);
    height: 3.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer-menu #nav-link:hover{
    text-decoration: underline;
}

.open-icon{
    transform: translateY(2.5px);
    margin-left: 0.2rem;
    scale: 0.9;
}

::-webkit-scrollbar {
    width: 0px;
  }

.warning-icon{
    margin-right: 0.8rem;
    font-size: 2rem;
}

.warning-sign{
    margin: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    background-color: rgb(178, 0, 0);
    color: white;
    border-radius: 15px;
    border: 2px solid rgb(115, 0, 0);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    width: fit-content;
    position: absolute;
    left: 5%;
}

.text-content{
    margin-left: 1.3rem;
    max-width: 90%;
}